<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>React App</title>

    <!--스타일 시트-->
    <link href="../static/Nav.css" rel="stylesheet" />
    <link href="../static/Header.css" rel="stylesheet" />
    <link href="../static/Footer.css" rel="stylesheet" />

    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1p&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1p&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Prosto+One&display=swap"
      rel="stylesheet"
    />

    <!--폰트어썸-->
    <script
      src="https://kit.fontawesome.com/abf9981e0b.js"
      crossorigin="anonymous"
    ></script>

    <!--스크립트-->
    <!--네비게이션 바-->
    <script src="../components/navbar.js"></script>
  </head>
  <body>
    <div id="root">
      <nav class="navbar">
        <a id="pretrip" href="./index.html">PreTrip</a>
        <ul class="nav-menu">
          <li><a href="#">Spot</a></li>
          <li><a href="./calendar.html">Calendar</a></li>
        </ul>
        <ul class="nav-menu">
          <li><a href="#">Login</a></li>
          <li class="division">|</li>
          <li><a href="#">Sign Up</a></li>
        </ul>
        <a class="nav-toggle" href="javascript:void(0)">
          <i class="fa-solid fa-bars"></i>
        </a>
      </nav>

      <header>
        <div class="title">Pre Trip</div>
        <div class="sub">여행지 검색과 일정 계획을 한 곳에서!</div>
      </header>

      <footer>
        <div class="right">&copy; PreTrip</div>
      </footer>
    </div>
  </body>
</html>
