<!DOCTYPE html>
<html>
<head>
    <title>Spot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='spot.css') }}">
</head>
<body>
    <script src="../components/pagination.js"></script>

    <main class="spot_page">
        <nav class="navbar">
            <ul class="navlink">
                <li><a href="index.html">Main</a></li>
                <li><a href="spot.html" style="color: #1E90FF;">Spot</a></li>
                <li><a href="calender.html">Calender</a></li>
            </ul>
        </nav>

        <div class="toolbar">
            <div class="selection">
                <select class="location" id="location">
                    <option value="">여행지</option>
                    <option value="seoul">서울</option>
                    <option value="busan">부산</option>
                    <option value="gyeongju">경주</option>
                    <option value="jeonju">전주</option>
                    <option value="daejeon">대전</option>
                    <option value="daegu">대구</option>
                </select>
                <select class="selecttype" id="selecttype">
                    <option value="">유형</option>
                    <option value="nearby">관광지</option>
                    <option value="rating">숙소</option>
                    <option value="rating">맛집</option>
                </select>
                <select class="filter" id="filter">
                    <option value="">정렬</option>
                    <option value="nearby">거리순</option>
                    <option value="rating">평점순</option>
                </select>
            </div>
            <div class="searcharea">
                <input type="text" class="search" id="search" placeholder="   검색">
            </div>
        </div>

        <div class="content">
            <div class="spotlist">
                <div class="leftlist">
                    {% for spot in spots.items[:4] %}
                    <div class="spot" onclick="window.location.href='{{ url_for('detail', id=spot.id) }}';">
                        <div class="spotinfo">
                            <div class="name">{{ spot.name }}</div>
                            <div class="type">{{ spot.location }}   {{spot.type}}</div>
                            <div class="rate">★★★★☆</div>
                        </div>
                        <img src="../static/image/gyungbok.jpeg" class="thumbnail">
                    </div>
                    {% endfor %}
                </div>
                <div class="divider"></div>
                <div class="rightlist">
                    {% for spot in spots.items[4:8] %}
                    <div class="spot" onclick="window.location.href='{{ url_for('detail', id=spot.id) }}';">
                        <div class="spotinfo">
                            <div class="name">{{ spot.name }}</div>
                            <div class="type">{{ spot.location }}/관광지</div>
                            <div class="rate">★★★★☆</div>
                        </div>
                        <img src="../static/image/gyungbok.jpeg" class="thumbnail">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="pagination">
            {% if spots.has_prev %}
            <a href="{{ url_for('index', page=spots.prev_num) }}" class="prev">&ltri;</a>
            {% endif %}
            {% for page in spots.iter_pages() %}
                {% if page %}
                    <a href="{{ url_for('index', page=page) }}" class="page {% if page == spots.page %}active{% endif %}" data-page="{{ page }}">{{ page }}</a>
                {% else %}
                    <span class="page">...</span>
                {% endif %}
            {% endfor %}
            {% if spots.has_next %}
            <a href="{{ url_for('index', page=spots.next_num) }}" class="next">&rtri;</a>
            {% endif %}
        </div>
    </main>
</body>
</html>
